/* Farve profil */
.ingentingderhedderdether {
    color: #F7A60C; /* Titles, */
    color: #496E9E;
    color: #2F7CDE; /* Titles, */
    color: #89734A;
    color: #434F5E;
    color: #2e3233;
    color: #e0e0e0;
}


/* General styling */
body {
    font-family: Arial, sans-serif;
    margin-top: 2.5vw;
    text-align: center;
    overflow-x: hidden; /* Prevent horizontal scrollbars */
    background-image: url('CocktailSquareBaggrund.png');
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Keep the image fixed during scroll */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.85vh; /* 20px / 1080 * 100 */
}

.scroll-wrapper {
    max-height: 80vh; /* Limit the height of the scrollable area */
    padding-right: 1rem; /* Reserve space for scrollbar without shifting content */
    box-sizing: content-box; /* Prevent padding from affecting table layout */
}

.nav-buttons {
    display: flex;
    gap: 0.8vw; /* 15px / 1920 * 100 */
    flex-wrap: wrap;
    justify-content: center;
}

.nav-button {
    text-decoration: none;
    background-color: #e0e0e0;
    color: black;
    padding: 0.93vh 1.04vw; /* 10px / 1080, 20px / 1920 */
    border-radius: 0.26vw; /* 5px / 1920 * 100 */
    font-size: 1.50vh; /* 16px / 1080 * 100 */
    transition: background-color 0.3s;
    font-size: calc(10px + 0.3vw);
}

.nav-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 0.2vw #F7A60C; /* 0.2vw = 4px / 1920 */
}

.nav-button.active {
    background-color: #F7A60C;
    color: #e0e0e0;
}

/* Table styling */
.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align table to the top within container */
    margin: 0 auto; /* Center horizontally in the body */
    padding: 0; /* Remove padding offsets */
    width: 100%;
    max-width: 90vw; /* Responsive width with padding */
    max-height: 80vh; /* Limit container height */
    text-align: left;
    white-space: nowrap;
    overflow-y: auto; /* Allow scrolling for long content */
    box-sizing: border-box; /* Include padding and borders in dimensions */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    margin: 0.8vw auto; /* Center table within container */
    width: auto; /* Ensure table adapts to content */
    font-size: calc(10px + 0.3vw); /* Keep dynamic scaling */
}


/* Styling for table headers (th) */
th {
    border: 0.1vw solid #2e3233; /* 4px / 1920 * 100 */
    padding: 1vh;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 500;
    
}

/* Styling for table cells (td) */
td {
    border: 0.05vw solid #e0e0e0; /* 1px / 1920 * 100 */
    border-bottom: 0.1vw solid ##e0e0e0; /* 2px / 1920 * 100 */
    max-width: 5.2vw; /* 100px / 1920 * 100 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all 0.2s ease;
    color: #e0e0e0;
}

.tooltip {
    position: absolute;
    background-color: #2e3233;
    color: #e0e0e0;
    padding: 0.46vh 0.52vw; /* 5px / 1080, 10px / 1920 */
    border-radius: 0.26vw; /* 2px / 1920 * 100 */
    font-size: 1.25vh; /* 12px / 1080 * 100 */
    white-space: nowrap;
    pointer-events: none;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.play-button-cell {
    width: 1.95vw; /* 60px / 1920 * 100 */
    text-align: center;
}

.play-btn {
    background-color: #FF0000;
    color: #e0e0e0;
    border-radius: 0.25vw;
    border: none;
    cursor: pointer;
    font-size: calc(10px + 0.3vw);
    padding: 0.1vh 0.30vw;
}

.play-btn:hover {
    background-color: #F7A60C;
    box-shadow: 0 0 0.2vw #F7A60C;
}

th.play-cell {
    border: none;
    background: #e0e0e0;
    border: none;
    border-top: 0.1vw solid #2e3233;
    border-bottom: 0.1vw solid #2e3233;
}

td.play-button-cell {
    border: none;
}

.product-image {
    width: 2.9vw; /* 55px / 1920 * 100 */
    height: 2.9vw; /* 55px / 1920 * 100 */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out, position 0.3s ease-in-out;
    cursor: pointer;
}

td.image-cell {
    width: 2.9vw; /* 55px / 1920 */
    padding: 0;
}

th.image-cell {
    border: none;
    border-top: 0.1vw solid #2e3233;
    border-bottom: 0.1vw solid #2e3233;
    background: #e0e0e0;
}

.product-image:hover {
    z-index: 1000;
    pointer-events: auto;
}

.enlarged-image {
    box-shadow: 0 0.1vh 0.1vh rgba(0, 0, 0, 0.3); /* 2px / 1080 * 100 */
    transform-origin: top left;
}

th.name-cell {
    background-color: #e0e0e0;
    width: 9vw; /* 12rem = 192px / 19.2px */
    min-width: 9vw; /* 15.625rem = 250px / 19.2px */
    max-width: 25vw; /* 50rem = 800px / 19.2px */
    text-align: left;
}

th.varenr-cell {
    background-color: #e0e0e0;
    width: 5vw; /* 9.375rem = 150px / 19.2px */
    text-align: center;
    z-index: 10;
}

th.shop-cell {
    background-color: #e0e0e0;
    width: 6vw; /* 12rem = 192px / 19.2px */
    min-width: 12vw; /* 15.625rem = 250px / 19.2px */
    max-width: 25vw; /* 50rem = 800px / 19.2px */
    text-align: center;
    z-index: 800;
}

th.type-cell {
    background-color: #e0e0e0;
    width: 6vw; /* 12rem = 192px / 19.2px */
    min-width: 5vw; /* 15.625rem = 250px / 19.2px */
    max-width: 10vw; /* 50rem = 800px / 19.2px */
    text-align: center;
    z-index: 799;
}

th.kaliber-cell {
    background-color: #e0e0e0;
    width: 4vw; /* 7.5rem = 120px / 19.2px */
    text-align: center;
    z-index: 798;
}

th.skud-cell {
    background-color: #e0e0e0;
    width: 6vw; /* 12rem = 192px / 19.2px */
    min-width: 6vw; /* 15.625rem = 250px / 19.2px */
    max-width: 10vw; /* 50rem = 800px / 19.2px */
    text-align: center;
    z-index: 797;
}

th.nem-cell {
    background-color: #e0e0e0;
    width: 4vw; /* 7.5rem = 120px / 19.2px */
    text-align: center;
    z-index: 10;
}

th.price-cell {
    background-color: #e0e0e0;
    width: 9vw;
    text-align: center;
    z-index: 10;
}

th.artikler-cell {
    background-color: #e0e0e0;
    width: 3vw; /* 5rem = 80px / 19.2px */
    text-align: center;
    z-index: 10;
}

th.antal-cell {
    background-color: #e0e0e0;
    width: 3vw; /* 5rem = 80px / 19.2px */
    text-align: center;
    z-index: 10;
}

th.add-cell {
    border: none;
    border-top: 0.1vw solid #2e3233;
    border-bottom: 0.1vw solid #2e3233;
    background: #e0e0e0;
    padding-right: 1.5vw;
    z-index: 10;
}
.sort-symbol {
    cursor: pointer;
    color: #2e3233;
    margin-left: 0.16vw; /* 5px / 1920 */
    transition: color 0.3s;
}

.sort-symbol:hover {
    color: grey;
}

.price-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.price-input-wrapper input {
    width: 100%; /* Adjusted for consistent width */
    text-align: center;
    font-size: calc(10px + 0.3vw); /* Updated for better readability (16px / 1080) */
    box-sizing: border-box;
}

.price-suffix {
    position: absolute;
    padding-right: 5%; /* Maintain percentage */
    pointer-events: none;
    font-size: calc(10px + 0.3vw); /* Slightly increased (14px / 1080) for better visibility */
    color: #2e3233;
}

.price-input-wrapper, .quantity-input-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.price-input, .quantity-input {
    padding: 0.46vh; /* Maintain comfortable padding */
    border: 0.05vw solid #ccc; /* Border size remains consistent */
    border-radius: 0.37vh; /* Slightly larger for better aesthetics */
    font-size: calc(5px + 0.3vw);
    width: 3.65vw; /* Slightly wider for usability (70px / 1920) */
    box-sizing: border-box;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-input {
    -moz-appearance: textfield;
}

.price-suffix {
    position: absolute;
    right: 0.26vw; /* Adjusted for balance (5px / 1920) */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.5vh; /* Match suffix font size */
}

.search-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.93vh 0; /* 10px / 1080 */
}

.search-input {
    text-align: center;
    font-size: calc(6px + 0.3vw);
    width: 6.25vw; /* 120px / 1920 */
    padding: 0.46vh; /* 5px / 1080 */
    box-sizing: border-box;
    background-color: #e0e0e0;
    border: 0.05vw solid #F7A60C; /* 1px / 1920 */
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0.26vw #F7A60C; /* 5px / 1920 */
}

.small-input {
    width: 3.12vw; /* 60px / 1920 */
}

.parentheses-price {
    margin-left: 0.16vw; /* 5px / 1920 */
    font-size: 1.15vh; /* 12px / 1080 */
    color: grey;
}

.custom-price {
    font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #2e3233;
    box-sizing: border-box;
}

.dropdown-button {
    background-color: #e0e0e0;
    border: 0.05vw solid #F7A60C;
    padding: 0.46vh 0.52vw;
    cursor: pointer;
    font-size: 1.15vh;
}

.dropdown-content {
    display: none;
    position: absolute; /* Instead of absolute */
    background-color: #e0e0e0;
    border: 0.05vw solid #e0e0e0; /* 1px / 1920 */
    max-height: 46.3vh; /* 500px / 1080 */
    z-index: 1000;
    padding: 0.46vh; /* 5px / 1080 */
    text-align: left;
}

.dropdown-text {
    opacity: 50%;
    font-size: calc(6px + 0.3vw);
}

.dropdown:hover .dropdown-content,
.dropdown-button:focus + .dropdown-content {
    display: block; /* Make dropdown visible */
    overflow: visible;
    box-shadow: 0 0 0.2vw #F7A60C;
}

.add-btn {
    background-color: #F7A60C;
    color: white;
    border: none;
    margin-left: 0.2vw; /* 5px / 1920 */
    padding: 0.1vh 0.30vw; /* 5px / 1080, 10px / 1920 */
    cursor: pointer;
    border-radius: 0.20vh; /* 4px / 1080 */
    font-weight: bold;
    font-size: calc(10px + 0.3vw);
}

.add-btn:hover {
    box-shadow: 0 0 0.2vw #F7A60C;

}

.add-btn.selected {
    background-color: rgb(231, 231, 231);
    color: #e0e0e0;
    display: none;
}

.add-btn.selected:hover {
    background-color: #FF0000;
    color: #e0e0e0;
    display: none;
    
}

.remove-btn {
    background-color: #FF0000;
    color: #e0e0e0;
    border: none;
    padding: 0.45vh 0.50vw; /* 5px / 1080, 10px / 1920 */
    cursor: pointer;
    border-radius: 0.20vh; /* 4px / 1080 */
    font-weight: bold;
    margin-left: 0.2vw; /* 5px / 1920 */
    font-size: calc(10px + 0.3vw);
    padding: 0.1vh 0.30vw;
}

.remove-btn:hover {
    box-shadow: 0 0 0.2vw #F7A60C;
}


/* Modal container - youtube */
.modal {
    padding-top: 5%;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    margin: auto;
    background: none;
    width: 36.46vw; /* 70rem = 1120px / 1920 */
    max-width: 90%;
    box-shadow: 0 0.15vh 0.9vh rgba(0, 0, 0, 0.3); /* 5px / 15px */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close-button {
    position: absolute;
    right: 0.33vw; /* 0.625rem = 10px / 1920 */
    top: 0.93vh; /* 0.625rem = 10px / 1080 */
    font-size: 1.5vh; /* 1.75rem = 28px / 1080 */
    font-weight: bold;
    color: #b9b9b9;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: rgb(228, 228, 228);
}

#del-button {
    text-align: center;
    font-weight: bold;
    background-color: #F7A60C;
    cursor: pointer;
    color: white;
}

#del-button:hover {
    box-shadow: 0 0 0.2vw #F7A60C; /* 0.2vw = 4px / 1920 */
}

/* Popup Modal Styles */
#link-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e0e0;
    padding: 1.85vh; /* 20px / 1080 */
    box-shadow: 0 0.4vh 0.75vh rgba(0, 0, 0, 0.2); /* 4px / 8px */
    border-radius: 0.75vh; /* 8px / 1080 */
    z-index: 1000;
    text-align: center;
}

#popup-message {
    margin: 0;
    font-size: 1.50vh; /* 16px / 1080 */
    margin-bottom: 0.93vh; /* 10px / 1080 */
    width: 20vw;
    font-weight: bold;
}

#popup-link {
    width: 100%;
    padding: 0.46vh; /* 5px / 1080 */
    font-size: 1.25vh; /* 14px / 1080 */
    text-align: center;
    border: 0.05vw solid #e0e0e0; /* 1px / 1920 */
    border-radius: 0.37vh; /* 4px / 1080 */
    margin-bottom: 0.93vh; /* 10px / 1080 */
}

/* Popup Button */
.popup-button {
    padding: 0.93vh 1.04vw; /* 10px / 20px */
    background-color: #2F7CDE;
    color: #e0e0e0;
    border: none;
    border-radius: 0.37vh; /* 4px / 1080 */
    cursor: pointer;
}

.popup-button:hover {
    background-color: #2F7CDE;
}

/* Overlay Styles */
#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e3233;
    z-index: 999;
}

#product-container td:nth-child(3) {
    padding: 0.58vh; /* 10px / 1080 */
    font-weight: bold;
}

#product-container td:nth-child(4) {
    padding: 0.58vh;
    text-align: center;
    color: rgb(104, 104, 104);
}

#product-container td:nth-child(5),
#product-container td:nth-child(6),
#product-container td:nth-child(7),
#product-container td:nth-child(8),
#product-container td:nth-child(9),
#product-container td:nth-child(10),
#product-container td:nth-child(11) {
    padding: 0.58vh;
    text-align: center;
}

#list-container td:nth-child(3) {
    padding: 0.58vh;
    font-weight: bold;
}


#list-container td:nth-child(4) {
    padding: 0.58vh;
    text-align: center;
    color: rgb(104, 104, 104);
}

#list-container td:nth-child(5),
#list-container td:nth-child(6),
#list-container td:nth-child(7),
#list-container td:nth-child(8),
#list-container td:nth-child(9),
#list-container td:nth-child(10),
#list-container td:nth-child(11) {
    padding: 0.58vh;
    text-align: center;
}

@media (max-width: 1200px) {
    .table-container {
        width: 100%;
        max-width: 95%;
    }

    th, td {
        padding: 0.46vh; /* 0.5rem = 8px / 1080 */
    }

    body, th, td {
        font-family: "Arial Narrow", Arial, sans-serif;
    }
}