/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 25px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.nav-button {
    text-decoration: none;
    background-color: #ddd;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #ccc;
}

.nav-button.active {
    background-color: #F7A60C;
    color: white;
}

/* Table styling */
.table-container {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    white-space: nowrap;
    overflow-y: auto;
    max-height: 80vh; /* Adjust as needed */
    margin-bottom: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0; /* Prevents gaps between cells */
    table-layout: fixed; /* Ensures consistent column widths */
    margin: 15px;
}
/* Styling for table headers (th) */
th {
    border: 4px solid #ddd;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap; /* Prevents wrapping in headers */
    margin: 0;
    box-sizing: border-box;
    position: sticky; /* Freeze the header */
    top: 0; /* Keeps it at the top when scrolling */
    z-index: 500; /* Ensure it's above other content */
}

/* Styling for table cells (td) */
/* Ensure cells are truncated by default */
td {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    max-width: 100px; /* Adjust width as needed */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Display "..." for overflowed text */
    position: relative; /* For positioning during hover */
    transition: all 0.2s ease; /* Smooth transition for hover */
    
}
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none; /* Tooltip should not block mouse events */
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.play-button-cell {
    width: 60px; /* Adjust as needed for button size */
    text-align: center;
}

.play-btn {
    background-color: #FF0000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #F7A60C;
}
th.play-cell {
    border:none;
    background: white;
}
td.play-button-cell {
    border:none;
}
.product-image {
    width: 100%;
    height: 100%;
    width: 55px;
    height: 55px;
    object-fit: cover; /* Ensure the image covers the cell without distortion */
    display: block; /* Removes inline block spacing */
    transition: transform 0.3s ease-in-out, position 0.3s ease-in-out;
    cursor: pointer; /* Indicates image is clickable */
/*    border-inline: 5px solid red;*/
}
td.image-cell {
    width: 55px;
    padding: 0; /* Ensure no extra spacing */
    box-sizing: border-box; /* Include padding/border within width/height */
}
th.image-cell {
    border: none;
    background: white;
}
/* The hover effect should ensure the image stands out */
.product-image:hover {
    z-index: 1000; /* Bring enlarged image to the top layer */
    pointer-events: auto; /* Ensures the image remains interactive */
}
.enlarged-image {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transform-origin: top left; /* Makes the image enlarge from its original position */
}

th.name-cell {
    background-color: #ece8f1; /* Example for Name column */
    min-width: 250px;
    max-width: 800px;
    text-align: center;
}

th.varenr-cell {
    background-color: #ece8f1; /* Example for Varenr column */
    width: 150px;
    text-align: center;
}

th.shop-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 250px;
    text-align: center;
}

th.type-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 120px;
    text-align: center;
}
th.kaliber-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 120px;
    text-align: center;
}
th.skud-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 80px;
    text-align: center;
}
th.nem-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 120px;
    text-align: center;
}
th.price-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 150px;
    text-align: center;
}
th.artikler-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 80px;
    text-align: center;
}
th.antal-cell {
    background-color: #ece8f1; /* Example for Shop column */
    width: 80px;
    text-align: center;
}
th.add-cell {
    border:none;
    background: white;
}
.sort-symbol {
    cursor: pointer;
    color: black;
    margin-left: 5px;
    transition: color 0.3s;
}

.sort-symbol:hover {
    color: grey;
}

/* Input styling for search inputs */

.price-input-wrapper {
    width: 100%; /* Make wrapper take up the full width of the cell */
    display: flex;
    justify-content: center; /* Adjust alignment of content inside */
    align-items: center;
    box-sizing: border-box;
}

.price-input-wrapper input {
    width: calc(100% - 10px); /* Adjust input width to make room for the suffix */
    text-align: center;
    box-sizing: border-box; /* Makes padding count towards width */
}
.price-suffix {
    position: absolute;
    padding-right: 5%;
    pointer-events: none; /* Prevent interaction with the suffix */
    font-size: 14px; /* Match the input text size */
    color: #555; /* Match or customize color */
}
.search-input-wrapper {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    width: 100%;              /* Takes the full width of the container */
    margin: 10px 0;           /* Optional margin for spacing */
}

.search-input {
    text-align: center;       /* Align text within the input field */
    width: 120px;               /* Set width for the input itself, can be adjusted as needed */
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff7c7;
    border: 1px solid #F7A60C;
}
.search-input:focus {
    outline: none;
    box-shadow: 0 0 5px #F7A60C; /* Add a glow effect */
}
/* Styling til varenr søgefelt */
.small-input {
    width: 60px;
}
/* Styling for price and quantity inputs */
.price-input-wrapper, .quantity-input-wrapper {
    display: inline-flex;
    align-items: center;
    align: center;
    position: relative;
}

.price-input, .quantity-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 60px; /* Fixed width for consistency */
    box-sizing: border-box;
}

/* Remove up/down arrows for number inputs on price input */
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.price-input {
    -moz-appearance: textfield; /* Remove arrows in Firefox */
}

.price-suffix {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
}

/* Styling for parentheses number */
.parentheses-price {
    margin-left: 5px;
    font-size: 12px;
    color: grey;
}
/* Style for custom price input */
.custom-price {
    font-style: italic;
}
/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #fff7c7;
    border: 1px solid #F7A60C;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff7c7;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    padding: 5px;
}
.dropdown-text {
    opacity: 50%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.add-btn {
    background-color: #F7A60C;
    color: white;
    border: none;
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
}

.add-btn:hover {
    background-color: #ffdb3c;
    color: white;
}
.add-btn.selected {
    background-color: rgb(231, 231, 231); /* Indicates selected product */
    color: white;
}
.add-btn.selected:hover {
    background-color: darkred; /* Indicates selected product */
    color: white;
}
.remove-btn {
    background-color: rgb(231, 231, 231);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
}
.remove-btn:hover {
    background-color: darkred;
}
/* Modal container - youtube */
.modal {
    padding-top: 5%;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

/* Modal content  - youtube */
.modal-content {
    position: relative;
    margin: auto;
    background: none;
    width: 1120px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Close button  - youtube */
.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #b9b9b9;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: rgb(228, 228, 228);
}

#product-container td:nth-child(3) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    font-weight: bold;
}
#product-container td:nth-child(4) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
    color: rgb(104, 104, 104);
}
#product-container td:nth-child(5) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#product-container td:nth-child(6) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#product-container td:nth-child(7) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#product-container td:nth-child(8) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#product-container td:nth-child(9) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: right;
}
#product-container td:nth-child(10) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#product-container td:nth-child(11) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}





#list-container td:nth-child(3) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    font-weight: bold;
}
#list-container td:nth-child(4) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
    color: rgb(104, 104, 104);
}
#list-container td:nth-child(5) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(6) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(7) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(8) {
    padding: 0px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(9) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(10) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}
#list-container td:nth-child(11) {
    padding: 10px; /* Apply padding only to the 4th column in tbody */
    text-align: center;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .table-container {
        width: 100%;
    }

    th, td {
        padding: 8px;
    }
}